html,body { 
    margin:0; 
    padding:0; 
    height: 100vh; 
    width:100%; 
    background-color:aliceblue;
    font-family: "RM Neue",sans-serif;
}

header{
    height:152px;
    background-color:bisque;
    position:sticky;
    top:0px;
    z-index: 1000;
}

.header-container{
    display:flex;
    flex-direction: row;
    position:absolute;
    top:0;
    left:0;
    height:150px;
    width:100%;
    background-color:powderblue;
    justify-content: space-evenly;
    align-content: center;
}

/* .menu-item{
    display:flex;
    max-height:20px;
    background-color:red; 
    align-self: center;
    max-width:150px;
    justify-content: center;
} */

.menu-item {

    /* Lachlan-original   */
    display: flex;
    align-items: center;
    align-self: center;
    background-color: #0276FF;
    max-width: 150px;
    justify-content: center;
    /* ------------------- */
  
    /* Modified button-22 */
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    flex-shrink: 0;
    
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.15;
    padding: 10px 21px;
    text-align: center;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  }

.header-container > .menu-item{
    padding:20px;
}

.logo{
    display:flex;
    width: 150px;
}

main{
    display:flex;
    flex-direction: row;
    min-height:calc(100% - 270px);
    justify-content: space-around;
}

.main-container{
    position: relative;
    display:flex;
    flex-direction: row;
    background-color: aliceblue;
    width:80%;
}

article{
    display:flex;
    flex-direction: column;
    padding:25px;

}

aside{
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    background-color:aliceblue;
    min-width:150px;
    padding:25px;
    width:20%;
    border:1px solid black;
    margin-top:48px;
    gap:10px;
    height:fit-content;
}

aside > .menu-item{
    display:flex;
    width:100%;
    padding:20px 0 20px 0;
    border-bottom: 1px solid black;
}


footer{
    display:flex;
    background-color: lightyellow;
    height:150px;
}


.footer-container{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    padding-top:25px;
    padding-left:25px;
    padding-right:25px;
    margin-bottom:25px;
}

.footer-item{
    display:flex;
    justify-content:center;
}


@media screen and (max-width:416px){
        
    .header-container{
        display:flex;
        flex-direction: row;
        height:100px;
        background-color:lightgreen;
        padding:0px;
        justify-content: center;
        align-content: center;
    }
    .menu-item{
        display:flex;
        flex-grow:1;
        background-color:violet;
        align-self: center;
    }
    
    .logo{
        display:flex;
        background-color:aquamarine;
    }
}